<!--
TRANSFERT d'un composant vers lui même
  Vue (evnt)  -> 
-->


<h2>Contenu de l'annuaire</h2>
<ul class="list-group">
  <!--directive NgFor permettant de faire une boucle pour afficher le detail des personnes []-->
<div *ngFor="let p of personnes; let i = index">
  <!--utilisation des propriétés personnalisées pour transmission des données parent [] - enfant (@input())
  && 
   enfant (@output() -> parent (suppressionPersonne) pour faire appel à l'event binding--> 
  <app-personne-detail [pers]='p' [index]='i' (suppressionPersonne)="onSuppressionPersonne($event)"></app-personne-detail>
  
  

</div>
</ul>