  <!-- Affichage du menu via NavBar bootstrap et routerLink de manière à ne pas à avoir à recharger la page - Principe Angular SPA-->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/ajouter-personne">Ajouter une personne</a>
        </li>


        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/lister-personne">Listing Personnes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/apropos">A propos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/contact">Contact</a>
        </li>

      </ul>
    </div>

  </div>

</nav>


