<li class="list-group-item">


    {{ index }} - {{ pers.nom | uppercase}} - {{ pers.prenom}} - {{pers.tel}}
    <button class="btn btn-warning" style = 'float: right' (click)="supprimePersonne(pers)"> Supprimer</button>
    
</li>


