<h2>Ajouter une personne</h2>

<!--
f variable définie ds ce template
initialisée avec l'objet ngForm (le formulaire pour Angular).
L'événement submit appelera la fonction ajouterPersonne().
ngForm est fourni par FormsModule (importé dans AppModule)
Il est de type NgForm.
ngForm.value aura 3ptés: nom et tel et prenom
(définies par ngModel et name)
-->
<form #f="ngForm" (submit)="ajouterPersonne(f)">
  <div>
    <label for="nom">Nom : <span style="color: red;">(*)</span> </label>
    <input type="text" id="nom"  ngModel name="nom" #nom="ngModel" required minlength=2 maxlength="70">
    <span *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="alert">
      <div *ngIf="nom.errors?.required">Le nom est obligatoire.</div>
      <div *ngIf="nom.errors?.minlength">Le nom est comporter au moins 2 caractères.</div>
      <div *ngIf="nom.errors?.maxlength">Le nom est faire maximun 70 caractères.</div>
    </span>
  </div>
  

  <div>
    <label for="prenom">Prénom : <span style="color: red;">(*)</span></label>
    <input type="text" id="prenom" ngModel name="prenom" #prenom="ngModel" required minlength=2 maxlength="10">
    <span *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="alert">
      <div *ngIf="prenom.errors?.required">Le prénom est obligatoire.</div>
      <div *ngIf="prenom.errors?.minlength">Le prénom est comporter au moins 2 caractères.</div>
      <div *ngIf="prenom.errors?.maxlength">Le prénom est faire maximun 10 caractères.</div>
    </span>
  </div>

  <div>
    <label for="tel">Téléphone : </label>
    <input type="text" id="tel" ngModel name="tel">
  </div>

  <button type="submit">Ajouter</button>



</form>


