form {
  color: darkblue;
  border: 2px solid darkblue;
  width: 50%;
  margin: 1em auto;
  padding: 2em;
  box-sizing: border-box;
}

form div {
  margin: 2em;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid darkblue;
  background-color: rgba(211, 208, 208, 0.897);
  outline: none;
}

label {
  padding: 1em 1em 1em 0;
  display: inline-block;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 1em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: larger;
}

button:hover {
  background-color: #45a049;
}

.alert{
  color: red
}
.required{
  color: red
}