<div class="container-fluid">

  <h2>Bonjour, <br>
    bienvenue dans la création de mon application d'apprentissage Angular !
  </h2>
  <div>
    <h4 style="color:rgb(231, 162, 33);">Création d'un annuaire </h4>
    - Ajout d'une personne dans l'annuaire <br>
    - Consultation de l'annuaire <br>
    - Suppression d'une personne ajoutée

  </div>

</div>
